using Ch04EX1MovieList.Models;
using Microsoft.AspNetCore.Mvc;

@model Moviecs
@{
    ViewBag.Title = "Delete Movie";
}

<h2>Confrim Deletion</h2>
<h3>@Model.Name (@Model.Year)</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="MovieId"/>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Home" asp-action="Index"
       class="btn btn-primary"> Cancel</a>
</form>